@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.bold { font-weight: bold; }
.transition { transition: 0.5s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 58.85%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper { width: 51.10%; }
header { padding: 38px 0 57px;}
.ham { display: none; }

h1 a {
  color: #2E302F;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  width: 22%;
  display: inline-block;
}

.navigation {
  width: 60%;
  padding-top: 19px;
  float: right;
}

nav {
  width: 96%;
  display: inline-block
}

nav ul { width: 100%; }

nav a {
  color: rgb(147, 150, 165);
  font-size: 10px;
}

nav a:hover {
  -ms-transform:translatey(-3px); 
  -webkit-transform: translatey(-3px);
  transform: translatey(-3px);
}

nav ul li {  margin-right: calc(17.10% - 5px); }
nav li:last-child { margin-right: 0 } 

.bag {
  float: right;
  color: #2E302F;
  transition: 0.5s all ease;
}

.bag:hover {
  -ms-transform: scale(1.10); 
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts */
.banner figure:not(:first-child) {  display: none; }
.banner .wrapper {  position: relative; }
.banner { padding-bottom: 98px; }

.buttons {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buttons span {
  margin: 0 4px; 
  display: inline-block;
  color: #fff;
  font-size: 7px;
}

.buttons span:hover {
  -webkit-transform: scale(1.05); 
  -ms-transform: scale(1.05);
  transform: scale(1.05);  
}

.container { position: relative;}

.banner ul {
  position: fixed;
  z-index: 2;
  top: 43.5%;
  left: 6%;  
}

.banner li {
  padding: 5px 0;
  display: block;
}

.banner li img {  
  width: 70%; 
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.banner li img:hover {
  -webkit-transform: translateX(3px); 
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}
/* banner styles ends */
/* featured-items styles starts here */
.featured-items .wrapper { width: 50.15%; }

h2 {
  padding-bottom: 110px;
  color: rgb(83, 83, 81);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

h2::after {
  content: "";
  width: 250px;
  padding: .5px;
  margin: 5px 7px 5px 25px;
  display: inline-block;
  background: rgb(83, 83, 81);
}

h2::before {
  content: "";
  width: 250px;
  padding: .5px;
  margin: 5px 25px 5px 7px;
  display: inline-block;
  background: rgb(83, 83, 81);
}

.featured-items figure { 
  width: 99%;
  cursor: pointer;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.featured-items li {
  width: calc(33% - 4px);
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
}

.featured-items figure:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 0 rgb(139, 139, 136);
}

.featured-items li:nth-child(3) { margin-right: 0; }

.featured-items li span:nth-child(2),
.featured-items li span:nth-child(3)  {
  width: 100%;
  padding-top: 10px;
  display: block;
  color: rgb(139, 139, 136);
  font-size: 10px;
  text-align: center;
}

.featured-items li:nth-child(3) {  position: relative; }

.seller {
  padding: 8px;
  display: block;
  position: absolute;
  top: 0%;
  background-color: #71887B;
  color: rgb(230, 221, 221);
  font-size: 10px;
}

.featured-items a:last-child {
  width: 14%;
  padding: 5px 0;
  border: 1px solid rgb(139, 139, 136);
  border-bottom: 1px solid rgb(139, 139, 136, 0.5);
  margin: 40px auto 90px;
  display: block;
  background: transparent;
  color: rgb(63, 63, 60);
  font-size: 12px;
  text-align: center;
  -webkit-transition: .5s all ease; ;
  -moz-transition: .5s all ease; 
  transition: .5s all ease;
}

.featured-items a:last-child:hover {
  background-color: rgb(63, 63, 60);
  color: #fff;
}
/* featured-items styles ends here */
/* subscription section starts */
.subscription { 
  padding-bottom: 90px;
  background-color: #E7EEEA;
}

.subscription .wrapper { width: 51.66%; }

h3 { 
  padding: 80px 0 40px;
  font-size: 27px;
  color: #2E302F;
}

h3::after {
  content: "";
  width: 500px;
  padding: .5px;
  margin-left: 44px;
  display: inline-block;
  background: rgb(116, 116, 114);
}

.options > li {
  width: calc(19% - 4px);
  display: inline-block;
  vertical-align: top;
}

.options > li:first-child li,
.options > li:nth-child(2) li,
.options > li:nth-child(3) a,
.options > li:nth-child(3) address { display: block; }

.options > li:first-child li a,
.options > li:nth-child(2) li a,
.options > li:nth-child(3) a,
.options > li:nth-child(3) address,
.options > li:nth-child(4) {
  color: rgb(83, 83, 81);
  font-size: 10px;
}

.options > li:nth-child(3) a,
 address {  line-height: 20px; }

.options > li:nth-child(4) { 
  width: calc(28% - 4px); 
  margin-left: 55px;
}

.options > li:nth-child(4) span {
  padding-bottom: 10px;
  display: block;
  font-size: 12px;
} 

.options form input { 
  width: 100%; 
  outline: none;
  margin-bottom: 5px; 
  background: transparent;
}

.options form input[type="email"] { 
  width: 90%; 
  padding: 5px 0 5px 15px;
  border: 1px solid rgb(139, 139, 136);
  border-top: 1px solid rgb(139, 139, 136, 0.5);
  box-shadow: 2px 1px 1px 0 rgb(139, 139, 136) ;
}

.options form input[type="button"]{
  padding: 5px 0;
  border: 1px solid rgb(139, 139, 136);
  border-bottom: 1px solid rgb(139, 139, 136, 0.5);
  color: rgb(83, 83, 81);
  font-size: 12px;
  box-shadow: 2px 0 0 0 #8b8b88;
  text-transform: capitalize;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.options form input[type="button"]:hover {
  color:#E7EEEA;
  background-color: #2E302F;
}

.options form input::placeholder {
  font-size: 10px;
  text-transform: capitalize;
}

.subscription li a:hover,
.options ul li a:hover { color: #2E302F; }
/* subscription section ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  padding: 15px 0;
  display: block;
  text-align: center;  
}

footer span {
  color: rgb(83, 83, 81);
  font-size: 11px;
}

footer a {
  color: #2E302F;
  text-decoration: underline;
  -webkit-transition: .5s all ease; 
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

footer a:hover {  
  color: #000; 
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px); 
  transform: translateY(-3px);
}

footer {  position: relative }
.chat form { display: none; }

.chat a  {
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10px;  
  right: 1%;
  background-color: #2E302F;
  color: #fff;
}

.chat a:hover {
  border: 1px solid #2E302F;
  background-color: #fff;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02); 
  transform: scale(1.02);
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1100px starts here*/
@media only screen and (max-width: 1100px) {

h1 {  width: 25%; }
.navigation {  width: 68%; }
nav { width: 90%; }
nav ul { width: 100%; }

}  
/*media query for 1100px starts here*/
@media only screen and (max-width: 1024px){
  /* header styles starts */
  nav ul { display: none; }

  header { 
    padding: 30px 0 30px;
    position: relative;
  }

  .ham {
    width: 35px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
  }
    
  .ham span {
    width: 35px;
    height: 4px;
    margin: 5px 0;
    display: block;
    background: #000;
    text-indent: -99999px;
    transition:  0.5s ease;
  }

  .ham:hover + ul {
    width: 100%;
    display: block;
    float: none;
    position: absolute; 
    z-index: 3;
    top: 90%;
    right: 0;
    left: 0;
    background-color:#2E302F;;
    text-align: center;
  }

  .bag { font-size: 20px; }
  .bag:hover {
    -ms-transform: none; 
    -webkit-transform: none;
    transform: none;
  }
  header .wrapper { width: 81.10%; }
  h1 a { font-size: 40px; }
  h1 {  width: 30%; }
  
  nav {
    width: 96%;
    display: inline-block
  }

  nav li a{
    font-size: 20px;
    cursor: pointer;
  }

  nav li a:hover {  pointer-events: none; }

  nav ul li {
    margin-right: 0;
    display: block;
    padding: 10px 0;
  }
/* header styles ends */
/* banner styles starts */
.banner li img { width: 100%;  }

.banner li img:hover {
  -webkit-transform: none; 
  -ms-transform: none;
  transform: none;
}
/* banner styles ends */
/* featured-items styles starts here */
.featured-items .wrapper { width: 78.15%; }
h2 { font-size: 20px;}

.featured-items figure { 
  width: 100%;
  pointer-events: none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}


.featured-items figure:hover {
  transform: none;
  box-shadow: none;
}

.featured-items li span:nth-child(2),
.featured-items li span:nth-child(3)  {  font-size: 20px; }
.featured-items li:nth-child(3) {  position: relative; }
.seller { font-size: 20px; }
.featured-items a:last-child {
  width: 24%;
  font-size: 20px;
  -webkit-transition: none; ;
  -moz-transition: none; 
  transition: none;
}

.featured-items a:last-child:hover {
  background-color: #fff;
  color: rgb(63, 63, 60);
}
/* featured-items styles ends here */
/* subscription section starts */
.subscription .wrapper { width: 71.66%; }
h3 {   font-size: 32px; }
.options > li:first-child li a,
.options > li:nth-child(2) li a,
.options > li:nth-child(3) a,
.options > li:nth-child(3) address,
.options > li:nth-child(4) { font-size: 13px; }
.options > li:nth-child(3) a,
 address {  line-height: 30px; }

.options > li:nth-child(4) span { font-size: 15px; } 


.options form input[type="button"]{
  font-size: 14px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.options form input[type="button"]:hover {
  color:#2E302F;
  background-color:#E7EEEA;
}

.options form input::placeholder {  font-size: 14px; }
.subscription li a:hover,
.options ul li a:hover { color: #2E302F; }
/* subscr
/*=================================
  footer styling starts here
=================================*/ 

footer span {  font-size: 15px; }

footer a:hover {  
  color: #2E302F; 
  -webkit-transform: none;
  -moz-transform: none; 
  transform: none;
}

.chat form { display: none; }

.chat a:hover {
  border: none;
  background-color: #2E302F;
  -webkit-transform: none;
  -moz-transform: none; 
  transform: none;
}
 /*=================================
  footer styling ends here
=================================*/ 
}